<% @posts.each do |post| %>
	<div class="post_wrapper">
		<h2 class="title"><%= link_to post.title, post %></h2>
		<p class="date"><%= post.created_at.strftime ("%d de %B de %Y")%> escrito por <%= post.user.name %> </p>
		  <%= link_to like_post_path(post), method: :put do%>
               		Gostei
          	<%= post.get_upvotes.size %>
          <% end %>
          <%= link_to dislike_post_path(post), method: :put do %>
           			Não Gostei
           	<%= post.get_downvotes.size %>
          <% end %>
		
	</div>	


	</div>
 <% end %>	