<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ckeditor/ckeditor.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">
        <div id="logo" class="navbar-brand"><%= link_to "Blog", root_path %></div>
        
            <ul class="nav navbar-nav pull-right">
            <% if !user_signed_in? %>
              <li><%= link_to 'Logar', new_user_session_path %></li>
              <li><%= link_to 'Cadastrar', new_user_registration_path %></li>
              
            </ul>
          <% end -%>
          <ul class="nav navbar-nav pull-right">
          <% if user_signed_in? %>

          <li><%= link_to 'Novo Post', new_post_path %></li>
              <li><%= link_to 'Sair', destroy_user_session_path, :method => :delete %></li>
            
          
          
          </ul>
        <% end %>
        </nav>
      </div>
    </div>
  </header>

  <div id="main_content" class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
    
    <p><% if user_signed_in? %>
          <p>Olá senhor <mark><%= current_user.name %></p>
          <% end %></mark></p>
      <div id="content" class="col-md-9 center-block">
        <%= yield %>
      </div>
    </div>
  </div>

  <script type="text/javascript">$(document).ready(function() {
    var x = document.getElementById("ckeditor");
    if ($(x).length > 0) {
        var data = $(x);
        $.each(data, function(i) {
            CKEDITOR.replace(data[i].id);
        });
    }
});</script>
</body>
</html>