<!DOCTYPE html>
<html>
<head>
	
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">


		<ul>
        <li class="category">Website</li>
        <li><%= link_to "Blog", root_path %></li>

        
      </ul>

      <% if !user_signed_in? %>
         
      <%= link_to new_user_session_path do%><p class="sign_in">Admin Login</p><% end %>
      <% end %>


	</div>
	<div id="main_content">
    <div id="header">
      <p>Todos os Posts</p>
      <br>
      <% if user_signed_in? %>
        <p>Olá senhor <%= current_user.email %></p>
      <% end %>

      <% if user_signed_in? %>
        <div class="buttons">
            <%= link_to new_post_path do %><button class="button">Novo Post</button><% end %>

            

            

            <%= link_to 'Sair', destroy_user_session_path, :method => :delete %>
          </div>
        <% end %>
    </div>
 
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>
 

<%= yield %>

</body>
</html>
